.input-bar{
    width: 90%;
    background-color: #fff;
    margin-left: 120px;
    border-radius: 3px;
    height: 35px;
  }
  .logo-search{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    margin-right: 290px;
    margin-left: -200px;
  }
  .logo-search > img{
    height: 20px;
    position:absolute;
  }
  #input-bar{
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 120px;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: -350px;
  }
  .navbar{
    background-color: #A03037;
    height: 60px;
    // margin-right:-100px;
  }
  .heading{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-left: -80px;
    // margin-right: 50px;
  }
  #heading-h2{
    margin:0px;
    margin-left: 6px;
  }
  .navbar-elements{
    width: 70%;
    font-family: 'Open Sans', sans-serif;
  }
  .cart-icon{
    // border-left: 1px solid rgb(77, 3, 3);
    // border-right: 1px solid rgb(77, 3, 3);
    height: 55px;
    color: #fff;
    width: 70px;
  }
  #cart-image{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    filter: invert(1);
  }
  .books{
    width: 70%;
    min-height: 80vh;
  }
  .account-icon{
    // border-left: 1px solid rgb(77, 3, 3);
    height: 55px;
    color: #fff;
    width: 150px;
    margin-left: 150px;
  }
  .account-icon :hover{
    cursor: pointer;
  }
  .cart-icon :hover{
    cursor: pointer;
  }
  .footer{
    margin-top: 50px;
    height: 40px;
    width: 100%;
    color: #FFFFFF;
    background-color: black;
    font-size: 10px;
    font-weight: 1px;
  }
  .books{
    width: 70%;
    min-height: 80vh;
  }

  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px;
    left: 40px;
  }

  .logout{
    background-color: blue;
    color: #FFFFFF;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    margin-left: 12px;
    border:#fff;
  }