#link-p{
    color: rgba(128, 128, 128, 0.416);
}
#link-p:hover{
    cursor: pointer;
}

#matbutton{
    background-color: #3371b5;
    border-radius: 2px;
    width: 130px;
    height: 35px;
    color: #fff;
    font-weight: normal;
}
.heading{

    width: 400px;
}
#heading-h1{
    margin-bottom: 10px;
}
.button-container{
    height: inherit;
}
.heading-button{
    width: 600px;
}
.profile{
    margin-left: 40px;
    margin-top: 20px;
}
.profile-input{
    width: 587px;
    height: 35px;
    margin-bottom: 15px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
}
.profile-p{
    margin: 0px;
}
.form{
    margin-top: 20px;
}
.home-link{
    margin-top: 10px;
}
.heading-h5{
    margin-left: 10px;
    color: rgba(122, 4, 49, 0.533);
    font-style: italic;
}
.heading-h5:hover{
    cursor: pointer;
}
.profile-input-dis{
    width: 587px;
    height: 35px;
    margin-bottom: 15px;
    border-color: rgba(52, 49, 49, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.06);
    color: rgba(64, 60, 60, 0.36);
}
.InColm{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
h2{
    font-size: large;
    padding-top: 30px;
}
h3{
    font-size:small;
    margin-right:-70px ;
}
.heading-h3{
    margin-left: -90px;
    color: rgba(128, 128, 128, 0.533);
}
.heading-h3:hover{
    cursor: pointer;
}
.save-button{
    height: inherit;
    // margin-top: -10px;
    padding: 10px;
}
.address-input-dis{
    width: 587px;
    height: 85px;
    margin-bottom: 15px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.06);
    color: rgba(128, 128, 128, 0.36);
}
.InRow{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.state-input-dis1{
    width: 287px;
    height: 35px;
    margin-bottom: 15px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.06);
    color: rgba(128, 128, 128, 0.36);
}
.state-input-dis2{
    width: 287px;
    height: 35px;
    // margin-bottom: 15px;
    margin-left: -35px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.06);
    color: rgba(128, 128, 128, 0.36);
}
.state{
    margin-top: -20px;
    margin-left: 20px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 90px;
    padding-top: 10px;
    
  }

.address-input{
    width: 587px;
    height: 85px;
    margin-bottom: 15px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
}
.state-input1{
    width: 287px;
    height: 35px;
    margin-bottom: 15px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
}
.state-input2{
    width: 287px;
    height: 35px;
    // margin-bottom: 15px;
    margin-left: -35px;
    border-color: rgba(128, 128, 128, 0.499);
    outline: none;
    border-radius: 3px;
    border-width: 1px;
}