.Block {
    background-color: gray;
    width: 100%;
    height: 100%;
}

.mat1 {
    background-color: white;
    // border: 3px solid red;
    height: 400px;
    width: 24%;
    right: -24%;
    top: 19%;
    border-radius: 25px;
    display: flex;
    padding: 1px;
}

.img {
    height: 216px;
    width: 231px;
    border-radius: 130px;
    margin-left: 40px;
    margin-top: 69px;
}

.text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    color: black;
    font-weight: 500;
    height: 60px;
    width: 240px;
    margin-top: 310px;
    margin-right: 40px;
    display: flex;
    position: relative;
    right: 219px;
    white-space: nowrap;
}
#Indicator{
    margin-right: 154px;
    width: 10%;
    border: none;
    background: #B3290B;
    height: 3px;
    margin-top: 6px;
    transform: translateX(100px);
}   
.mat2 {
    background-color: white;
    // border: 3px solid green;
    height: 500px;
    width: 350px;
    // display: flex;
    position: relative;
    margin-top: 45px;
    margin-left: 45%;
    top: -47%;
    padding: 13px;
}

.login {

    margin-top: 15px;
    margin-bottom: 0px;
    position: relative;
    left: 35px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
    border: 0;
    background-color: white;

}
.signup {

    margin-top: 15px;
    margin-bottom: -13px;
    position: relative;
    left: 165px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
    border: 0;
    background-color: white;

}

.form-fields {
    // position: relative;
    right: 35%;
    top: 10%;
    width: 100%;
    margin-left: 28px;
    margin-top: 39px;
}
.input-field{
    width: 106%;
    padding: 10px 0;
    margin: -13px 0;
 }

.mat-form-field {

    width: 275px;
}

.field {
    height: 18%;
}

.forgotpass {
    font-size: 34px;
    padding: 6px 8px;
    margin-top: -8%;
}

.button {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: var(--gm-colortextbutton-ink-color, grey);
    background-color: transparent;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
    margin-left: 144px;
    padding-left: 21px;
    opacity: 0.6;
    margin-top: 12px;
    white-space: nowrap;
}

.button1 {
    width: 275px;
    padding: 5%;
    background-color: brown;
    border-color: brown;
    color: white;
    position: relative;
    margin-top: 5px;
}

.or {
    margin-top: 30px;
    margin-left: 22%;
    color: #484242;
}

.button2 {
    margin-top: 20px;
}

.facebookbutton {

    width: 130px;
    background-color: rgb(75, 75, 204);
    color: white;
    padding: 5%;
    border-color: rgb(75, 75, 204);
    border-radius: 4px;
}

.googlebutton {
    width: 130px;
    color: black;
    padding: 5%;
    border-radius: 4px;
    margin-right: 13%;
    border-color: gainsboro;
}