.Block {
    height: 100%;
    width: 100%;
    position: fixed;
}

.tool {
    background-color: brown;
    height: 50px;
}

#text {
    color: white;
    height: 30px;
    padding-left: 10px;
}

#logo{
    margin-left: 100px;
    margin-top: 5px;
}
#title{
       
        margin-top: 7%;
        font-size: 3vh;
        font-weight: bold;
        margin-left: 47%; 
}
.bookstore{
    width: 95%;
    padding: 0px 0;
    padding-left: 5px;
    
 }
.forgotpass {
    display: flex;
    flex-direction: column;
    border: 1px solid #DADCE0;
    // border: 3px solid red;
    border-radius: 7px;
    width: 280px;
    padding: 100px;
    margin: auto;
    height: 26%;
    background-color: white;
    border: aliceblue;
   
}

.forgot {
    width: 105%;
    // border: 3px solid red;
    height: 269px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    //box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);
    padding: 50px;
    margin-top: -25%;
}
 
#content{
 text-align: start;
 color: gray;
}
.primary {
    width: 95%;
    padding: 5%;
    background-color: brown;
    color: white;
    border: aliceblue;
}

.button2 {
    margin: 15%;
    padding: 14%;
    width: 400px;
    margin-left: -18%;
    border: aliceblue;
    font-weight: bold;
    font-size: 150%;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    padding-bottom: 49px;
}