<div class="Block">

    <mat-toolbar class="tool" fxLayout="row" fxLayoutAlign="space-between center">
        <div style="background-color: brown; height: 40px;" fxLayout="row" fxLayoutGap="2%">
            <img id="logo" src="../../../assets/education.svg" />
            <a id="text" style="font-size: 25px; margin-top: 10px;">BookStore</a>
        </div>

    </mat-toolbar>
    <div>
        <h4 id="title">Forgot your Password?</h4>

        <form [formGroup]="forgotForm">
            <div class="forgotpass">

                <div class="forgot">
                    <p id="content">Enter an email address and we will send a link to reset your password</p>
                    <div>
                        <mat-label>Email Id</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" style="width: 96%;">
                            <input type="text" class="bookstore" formControlName="Email" matInput placeholder="">
                            <mat-error>Enter your register email address</mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-button class="primary">Reset Password</button>
                    <div>
                        <button mat-button class="button2"routerLink="/signup"> Create Account </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>