<div class="main" fxLayout="column" fxLayoutAlign="space-around center" >
    <h1>Order Placed Successfully</h1>
    <p>hurray!!! your order is confirmed<br/> 
    <span>the order id is #123456 save the order id for</span><br/> 
       further communication..</p>
    <div class="table">
        <div class="row1">
            <div id="row-heading">
                <h1>Email us</h1>
                <h1 style="margin-left: 90px;">Contact us</h1>
                <h1 style="margin-left: 190px;">Address</h1>
            </div>
        </div>
        <div class="row2">
            <div id="row-heading1">
                <h1>admin@bookstore.com</h1>
                <hr>
                <h2>+918163475881</h2>
                <hr>
                <p>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA<br/>
                    complex, near Kumarakom restaurant, HSR Layout,<br/> 
                    Bangalore 560034</p>
            </div>
        </div>
    </div>
    <button id='button' routerLink="/dashboard/books" (click)="dashboard()">CONTINUE SHOPPING</button>
</div>